@use "../abstracts" as *;

.verify-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: $bg-soft;
}

.verify-card {
  width: 100%;
  max-width: 450px;
  background: $white;
  padding: 2rem;
  border-radius: $radius-lg;
  box-shadow: $shadow-main;
  text-align: center;

  h2 {
    color: $text-main;
    margin-bottom: 1rem;
  }

  p {
    color: $text-light;
    margin-bottom: 2rem;
  }

  button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
