@use "../abstracts/variables" as *;

.profile-card {
  max-width: 800px;
  background-color: $bg-panel;
  border: 1px solid $border;
  border-radius: 0;
  padding: 0.5rem;
  
  @media (max-width: 640px) {
    padding: 0px;
  }
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
